/* Основные */
body {
  margin: 0;
  background: linear-gradient(180deg, #fff 6.1%, #f7f7f7 68.7%);
  width: 100%;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  color: #575757;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

.container {
  display: flex;
  box-sizing: border-box;
  height: auto;
  max-width: 1180px;
  width: 100%;
  margin: 10px auto;
}

.sidebar {
  width: 280px;
  box-sizing: border-box;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding: 10px;
  display: flex;
  cursor: default;
}

.sidebar ul li a:hover {
  color: #00aec2;
}

.main-content {
  margin-left: 20px;
  height: auto;
}

.content {
  display: flex;
  padding: 10px 0;
  box-sizing: border-box;
  height: auto;
  justify-content: space-around;
  width: 100%;
}

.logo {
  width: 280px;
  cursor: pointer;
  background: linear-gradient(to top, #006779, #00a1b4);
  border-radius: 10px;
  height: 70px;
}

.logo img {
  width: 100%;
}

.logo:hover {
  background: linear-gradient(to top, #007488, #00aec2);
}

.pic {
  height: 18px;
  padding-right: 10px;
}

nav {
  margin-top: 10px;
}

nav a {
  padding: 0 10px;
}

nav a:hover {
  color: #00aec2;
}

nav a.active {
  color: #00aec2;
  font-weight: bold;
}

.nav-card a {
  display: block;
  margin-bottom: 10px;
  color: #575757;
  text-decoration: none;
  padding: 0 10px;
  font-size: 14px;
}

.nav-card a:hover {
  color: #00aec2;
}

a {
  color: #575757;
  text-decoration: none;
}

.card {
  height: 180px;
  width: 165px;
  background-color: #e6fbff;
  border-radius: 15px;
  padding: 20px;
  margin: 0 5px;
}

.card:hover {
  background-color: #d5f7fd;
}

.actions {
  background-image: url("img/index/actions.png");
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 150px;
}

.build-pc {
  background-image: url("img/index/apgreid.png");
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 140px;
}

.ready-made-assemblies {
  background-image: url("img/index/ready-made-assemblies.png");
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 110px;
}

.help {
  background-image: url("img/index/help.png");
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 110px;
}

.transparent-card {
  height: 200px;
  width: 278.333px;
}

.white-card {
  float: left;
  height: 120px;
  width: 120px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.img_container a {
  width: 100%;
  height: 100%;
  display: flex;
}

.actual-offers {
  margin-top: 16px;
}

.actual-offers-img {
  max-width: 100%;
  max-height: 100%;
}

h3 {
  margin: 0 0 8px;
  font-size: 18px;
  color: black;
}

p {
  font-size: 14px;
  color: black;
}

.brand-card {
  float: left;
  height: 50px;
  width: 110px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.brand-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

footer {
  background-color: #006779;
  padding: 10px 0;
  margin: 30px 0 0;

  width: 100%;
}

footer p {
  color: #fff;
}

.footer-container {
  height: auto;
  max-width: 1180px;
  margin: 0 auto;
}

.footer-titles {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 20px;
  border-bottom: 1px solid #00849b;
}

.footer-text {
  font-size: 16px;
  margin: 0px;
}

.footer-copyright {
  padding-top: 20px;
  border-top: 1px solid #00849b;
  text-align: center;
}

.footer-group {
  width: 280px;
  box-sizing: border-box;
  margin: 0 10px;
}

.footer-group ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-group ul li {
  padding: 10px;
  display: flex;
  cursor: default;
}

.footer-group a {
  color: white;
}

.footer-group ul li a:hover {
  color: #00aec2;
}

.footer-group a:hover {
  color: #00aec2;
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin: 20px 0;
}
/* Акции */

.action-card {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  background-color: white;
  cursor: default;
}

.action-card a {
  padding-bottom: 5px;
  color: black;
  font-weight: bold;
}

.action-card a:hover {
  color: #00aec2;
}

.action-card-poster {
  border-radius: 8px;
  display: block;
  height: auto;
  max-width: 30%;
  max-height: 200px;
  margin-right: 20px;
}

.text-in-card {
  display: block;
}

.promotion {
  font-size: 16px;
  margin-bottom: 20px;
}

.type-of-promotion {
  font-size: 12px;
  margin-top: 20px;
  color: #00bfa5;
  background-color: #dbfff4;
  padding: 4px 8px;
  border-radius: 5px;
  letter-spacing: 0.4px;
}

.checkbox {
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.checkbox li:hover {
  background-color: #e6fbff;
}

/* Помощь */

.help-card {
  box-sizing: border-box;
  position: relative;
  float: left;
  width: 100%;
  height: 60px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  background-color: white;
}

.help-card h4 {
  margin: 0px;
  position: relative;
  margin-left: 15px;
}

.help-card::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #333 transparent transparent transparent;
  margin-left: auto;
  margin-right: 15px;
}

.help-card:hover {
  color: #00aec2;
  cursor: default;
}

/* Магазины */

.shop-info {
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  background-color: white;
}

.shop-group {
  box-sizing: border-box;
  width: 50%;
}

.shop-card {
  box-sizing: border-box;
  position: relative;
  float: left;
  width: 100%;
  padding: 15px;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #d9d9d9;
}

.shop-card-last {
  box-sizing: border-box;
  position: relative;
  float: left;
  width: 100%;
  padding: 15px;
  align-items: center;
  background-color: white;
}

.map {
  box-sizing: border-box;
  width: 50%;
}
