body {
  margin: 0;
  background: linear-gradient(180deg, #fff 6.1%, #f7f7f7 68.7%);
  width: 100%;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  color: #575757;
  padding: 10px;
  text-align: center;
  width: 100%;
}

footer {
  background-color: #006779;
  color: #fff;
  padding: 10px;
  margin: 30px 0 0;
  text-align: center;
  width: 100%;
}

.container {
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  height: auto;
  max-width: 1180px;
  margin: 0 auto;
}

.sidebar {
  width: 280px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding: 10px;
  display: flex;
  cursor: default;
}

.sidebar ul li a:hover {
  color: #14a6c0;
}

.main-content {
  margin-left: 20px;
  height: auto;
}

.content {
  display: flex;
  padding: 10px 0;
  box-sizing: border-box;
  height: auto;
}

.logo {
  width: 280px;
  cursor: pointer;
  background: linear-gradient(to top, #006779, #00a1b4);
  border-radius: 10px;
  height: 70px;
  transition: ease-in-out 0.3s;
}

.logo img {
  width: 100%;
}

.logo:hover {
  scale: 1.03;
}

.pic {
  height: 18px;
  padding-right: 5px;
}

nav {
  margin-top: 10px;
}

nav a {
  padding: 0 10px;
}

nav a:hover {
  color: #14a6c0;
}

nav a.active {
  color: #14a6c0;
  font-weight: bold;
}

.nav-card a {
  display: block;
  margin-bottom: 10px;
  color: #575757;
  text-decoration: none;
  padding: 0 10px;
  font-size: 14px;
}

.nav-card a:hover {
  color: #14a6c0;
}

a {
  color: #575757;
  text-decoration: none;
}

.card {
  height: 180px;
  width: 165px;
  background-color: #e6fbff;
  border-radius: 10px;
  padding: 20px;
  margin: 0 5px;
}

.card:hover {
  background-color: #d5f7fd;
}

.actions {
  background-image: url("img/actions.png");
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 200px;
}

.build-pc {
  background-image: url("img/apgreid.png");
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 150px;
}

.ready-made-assemblies {
  background-image: url("img/ready-made-assemblies.png");
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 130px;
}

.help {
  background-image: url("img/help.png");
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 120px;
}

.transparent-card {
  height: 200px;
  width: 278.333px;
}

.white-card {
  float: left;
  height: 120px;
  width: 120px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.img_container a {
  width: 100%;
  height: 100%;
  display: flex;
}

.actual-offers {
  margin-top: 16px;
}

.actual-offers-img {
  max-width: 100%;
  max-height: 100%;
}

h3 {
  margin: 0 0 8px;
  font-size: 18px;
  color: black;
}

span {
  font-size: 14px;
  color: black;
}

.list-container {
  margin: 0 auto;
}
.action-card {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  margin-right: 20px;
  background-color: white;
}
